* {
    padding: 0;
    margin: 0;
    color: seashell;
    font-family: Helvetica;
}
html{
    font-size: 22px;
    background-color: black;
    opacity: 0.9;
    width: 100%;
  }
  
body{
    width: 100%;
  }

main{
    margin-top: 70px;
}

header{
      background-color: black;
      height: 69px;
      display: flex;
      align-items: center;
      border-bottom: 1px solid seashell;
      justify-content: space-between;
      position: fixed;
      z-index: 2;
      width: 100%;
      top: 0px;
}

header img{
    margin-left: 10px;
    align-items: center;
}

nav a{
    margin:0 10px;

}

#introduction{
    width: 1200px;
    height: 700px;
    display: block;
    background-image: url(https://content.codecademy.com/courses/freelance-1/unit-4/img-mission-background.jpg);
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
}

section{
    width: 100%;
}

section div{
    margin: 0 auto;
    opacity: 0.5;
}

.text{
    background-color: black;
    opacity: 1;
    text-align: center;
    padding: 10px 0;
    width: 100%;
    flex-direction: column;
}

.product_list{
    width: 1000px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

figure{
    text-align: center;
    margin: 10px;
}

figure img {
    margin-bottom: 10px;
}

h2{
    margin: 10px 0;
}

h4{
    margin-bottom: 10px;
}

.product_head{
    text-align: center;
}

#product{
    margin-top: 50px;
}

figcaption{
    font-weight: 600;
}

section #locations{
    width: 1200px;
    height: 600px;
    background-image: url(https://content.codecademy.com/courses/freelance-1/unit-4/img-locations-background.jpg);
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 60px;
    flex-direction: column;
}

#locations div{
    width: 300px;
    background-color: black;
    opacity: 1;
    margin: 0 20px;
    text-align: center;
    line-height: 55px;
}

h4{
    font-weight: 100;
}

span{
    display: flex;
}

span h2{
    margin: 12px 0;
}

h3{
    padding-top: 10px;
}

footer {
    opacity: 0.5;
}

footer div{
    height: 200px;
    text-align: center;
}

div h5{
    margin-top: 30px;
    opacity: 0.9;
}

footer h4{
    margin-left: 20px;
    opacity: 0.9;
}